body{
    font-family: Arial, Arial, Helvetica, sans-serif;
    text-align: center;
    color: green;
    background-image:url(opbg2.jpeg);
    background-size:cover;
}

#title{
    height:150px;
    width:400px;
}

#board{
    width:360px;
    height:360px;
    background-color:black;
    border: 10px solid;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img{
    width:118px;
    height:118px;
    border: 1px solid rgb(148, 7, 7);
}